<section id="policy" class="about" [ngClass]="{'section-show': isSectionActive}">
    <div class="about-me container c_custom">
        <div class="section-title">
            <h2>Privacy Policy</h2>
            <!-- <p>Peek into my world </p>
      </div> -->

            <div class="row">
                <app-markdown></app-markdown>

            </div>
        </div>

        <!-- <markdown ngPreserveWhitespaces>
            # Markdown
          </markdown> -->

    </div>

</section><!-- End About Section -->