<div #taskModal id="taskModal" class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">New Task</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">

      <div class="modal-body">
        <p>Enter the details of your task.</p>

          <div>
            <div class="input-group flex-nowrap">
              <input *ngIf="!validateForm()" id="name" type="text" formControlName="name" type="text" class="form-control" placeholder="I'm working on..." aria-label="name" aria-describedby="addon-wrapping">
              <input *ngIf="validateForm()" id="name" type="text" formControlName="name" type="text" class="form-control red-input red-placeholder" placeholder="This field is required" aria-label="name" aria-describedby="addon-wrapping">
            </div>
          </div>
          
          <div>
            <div class="input-group mt-1">
              <!-- <span class="input-group-text">With textarea</span> -->
              <textarea id="detail" type="text" formControlName="detail" class="form-control" aria-label="With textarea " placeholder="Detail of task"></textarea>
            </div>
          </div>  
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-secondary">Save changes</button>
      </div>
    </form>

    </div>
  </div>
</div>