<nav id="navbar" class="navbar" [ngClass]="{'navbar-mobile':navbarMobile}">
    <ul>
        <li><a [class.active]="isSectionActive('/')" class="nav-link active" routerLink="">Home</a></li>
        <li><a [class.active]="isSectionActive('about')" routerLink="/about" class="nav-link">About</a></li>
        <li><a [class.active]="isSectionActive('resume')" class="nav-link" routerLink="/resume">Resume</a></li>
        <li><a [class.active]="isSectionActive('contact')" class="nav-link" routerLink="/contact">Contact</a></li>
    </ul>
    <i (click)="navBarClick()" class="bi mobile-nav-toggle" [ngClass]="{'bi-list':classBiList,'bi-x':!classBiList}"></i>
</nav>