.navbar {
    padding: 0;
    margin-top: 35px;
  }
  
  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }
  
  .navbar li {
    position: relative;
  }
  
  .navbar li+li {
    margin-left: 30px;
  }
  
  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
    white-space: nowrap;
    transition: 0.3s;
  }
  
  .navbar a i,
  .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }
  
  .navbar a:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: var(--main-color);
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
  }
  
  .navbar a:hover:before,
  .navbar li:hover>a:before,
  .navbar .active:before {
    visibility: visible;
    width: 25px;
  }
  
  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover>a {
    color: #fff;
  }
  
  /**
    * Mobile Navigation 
    */
  .mobile-nav-toggle {
    color: #fff;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
    position: fixed;
    right: 15px;
    top: 15px;
  }
  
  @media (max-width: 991px) {
    .mobile-nav-toggle {
      display: block;
    }
  
    .navbar ul {
      display: none;
    }
  }
  
  .navbar-mobile {
    position: fixed;
    /* overflow: hidden; */
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.9);
    transition: 0.3s;
    z-index: 11;
    margin-top: 0;
  }
  
  .navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
  }
  
  .navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 45px;
    left: 15px;
    padding: 10px 0;
    overflow-y: auto;
    transition: 0.3s;
    border: 2px solid rgba(255, 255, 255, 0.2);
  }
  
  .navbar-mobile li {
    padding: 12px 20px;
  }
  
  .navbar-mobile li+li {
    margin: 0;
  }
  
  .navbar-mobile a,
  .navbar-mobile a:focus {
    font-size: 16px;
    position: relative;
  }

  .menuButton {
    /* Tamaño de letra pequeño */
    color: #ffffffaa;
    /* Color inicial de la letra */
    /* transition: color 0.3s ease; */
    /* Transición suave del color */
    cursor: pointer;
  }
  
  .menuButton:hover {
    color: #ffffff;
    /* Cambio de color al pasar el ratón por encima */
    /* Transición para el fondo y el color del texto */
  }
  
  .menuButton:active {
    transform: scale(0.95);
    /* Disminuye el tamaño a 98% cuando se presiona */
  }
  


.filterList {
	position: fixed;
	/* Se posiciona de forma absoluta respecto al contenedor */
	top: 65px;
  right: 45px;
	/* Se posiciona justo debajo del contenedor */
	/* left: 0; */
	/* Alinea la lista al borde izquierdo del contenedor */
	width: 220px;
	max-height: 400px;
	overflow-y: auto;
	z-index: 10000;
	scrollbar-width: thin;
	/* Hace la barra de desplazamiento más delgada en Firefox */
	background-color: rgba(241, 241, 241, 0.939);
    color: black;
	/* Fondo blanco para la lista */
	border: 1px white solid;
	border-end-end-radius: 20px;

    /* Sin barra de desplazamiento horizontal*/
    overflow-x: hidden;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Estándar */
}
@media (max-width: 985px) {
  .filterList {
    top: 50px;
  }
}

.listMenu {
  /* background-color: rgba(241, 241, 241, 0.939); */
  color: rgb(102, 102, 102);
  /* padding: 2px 2px 2px 2px; */
  cursor:pointer;
  transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;}
.listMenu:hover {
  background-color: rgb(255, 255, 255);
  color: #000000;
}

.rectangulo {
  width: 100px;        /* Ancho del rectángulo */
  height: 50px;        /* Alto del rectángulo */
  background-color: #0000FF; /* Color de fondo */
  border: 2px solid #000000; /* Borde: grosor, estilo, color */
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.blink {
  animation: blinker 1s linear infinite;
  font-family: Arial, sans-serif;
  font-size: 30px;
  color: grey
}