<div #taskModal id="taskModal" class="modal fade" tabindex="-1">
  <div #taskModalDialog class="modal-dialog modal-dialog-scrollable">
    <div *ngIf="modalOpened" class="modal-content">
      <div class="modal-header">
        <h5 *ngIf="id===-1" class="modal-title">New Task</h5>
        <h5 *ngIf="id!=-1" class="modal-title">Edit Task</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">

        <div class="modal-body">
          <p *ngIf="id===-1">Enter the details of your task.</p>
          <p *ngIf="id!=-1">Edit the details of your task.</p>
          <div class="d-flex justify-content-end">
            <pre>{{form.value | json}}</pre>
            <app-time-picker formControlName="estimatedTime" [myLabel]="'Timer'"></app-time-picker>
          </div>

          <div>
            <div class="input-group flex-nowrap">
              <input *ngIf="!validateForm()" id="name" type="text" formControlName="name" type="text"
                class="form-control" placeholder="I'm working on..." aria-label="name"
                aria-describedby="addon-wrapping">
              <input *ngIf="validateForm()" id="name" type="text" formControlName="name" type="text"
                class="form-control red-input red-placeholder" placeholder="Task name needed" aria-label="name"
                aria-describedby="addon-wrapping">
            </div>
          </div>
          <!-- reference https://medium.com/@bohndez.dev/custom-form-control-con-control-value-accessor-en-angular-5-6-o-7-f8f4030f105d-->


          <div>
            <div class="input-group mt-1">
              <!-- <span class="input-group-text">With textarea</span> -->
              <textarea id="detail" type="text" formControlName="detail" class="form-control"
                aria-label="With textarea " placeholder="Detail of task"></textarea>
            </div>
          </div>
        </div>
        <div class="modal-footer custom-footer">
          <button *ngIf="id!=-1" (click)="deleteTaskEmit()" type="button" class="btn btn-danger">Delete Task</button>
          <div class="flex-grow-1"></div> <!-- Espaciador -->
          <button type="submit" class="btn btn-secondary">Save changes</button>
        </div>

      </form>

    </div>
  </div>
</div>