<div  class="d-flex justify-content-end align-items-center">

    <div class="ms-2 elementTypeButton"
        (click)="local.clock.filteredAllSimpleTasks=!local.clock.filteredAllSimpleTasks;  filterSearch()"
        [ngClass]="{'active': !local.clock.filteredAllSimpleTasks}">
        CT
    </div>
    <div class="elementTypeButton"
        (click)="local.clock.filteredAllTasks=!local.clock.filteredAllTasks;  filterSearch()"
        [ngClass]="{'active': !local.clock.filteredAllTasks}">
        T
    </div>
    <div class="elementTypeButton"
        (click)="local.clock.filteredAllSegments=!local.clock.filteredAllSegments;  filterSearch()"
        style="padding-right: 9px !important;  margin-right:0px !important;"
        [ngClass]="{'active': !local.clock.filteredAllSegments}">
        S
    </div>

    <div (click)="local.clock.orderedView=!local.clock.orderedView; filterSearch()"
        style="margin-left:-3px !important; " [ngClass]="{'active': local.clock.orderedView}"
        class="elementTypeButton d-flex justify-content-center">
        <i class="ri-list-check"></i>
    </div>
</div>