.elementTypeButton{
	position: relative;
	background-color: #000000;
	margin-right: 2px;
	padding: 0px 7px;
	border-radius: 3px;
	border: 2px solid rgb(179, 179, 179);
	color: white;
	cursor: pointer;
	transition: background-color 0.2s ease;
}

.elementTypeButton:hover{
	background-color: rgb(77, 77, 77);
	color: white;
}

.elementTypeButton.active{

	background-color: rgb(179, 179, 179);
	color: black;
}
.elementTypeButton.active:hover{

	background-color: rgb(255, 255, 255);
	color: black;
}