.checkbox-container {
    position: relative;
    width: var(--size, 50px);
    height: var(--size, 50px);
}


.checkBox {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--size, 50px);
    height: var(--size, 50px);
    background-color: #b3b3b3;
    border-radius: calc(var(--size, 50px)/10);
    cursor: pointer;
    transition: filter 0.2s ease-in-out;
}

.checkBox:not(.checked):hover {
    filter: brightness(130%);
}


.checkBox:after {
    color: rgb(0, 0, 0);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background-color: transparent;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.checkBox.checked {
    background-color: #66bb6a;
}

.checkBox.checked:after {
    content: "";
    width: 95%;
    height: 95%;
    background-color: rgba(255, 255, 255, 0.2);
}

.tick-mark {
    pointer-events: none;
    position: fixed;
    margin-left: calc(var(--size, 50px) *7/50);
    margin-bottom: calc(var(--size, 50px) *7/50);

    width: calc(var(--size, 50px) *6/5);
    height: calc(var(--size, 50px) *2/5);
    border-left: calc(var(--size, 50px) *7/50) solid white;
    border-bottom: calc(var(--size, 50px)*5/50) solid white;
    transform: rotate(25deg) translate(-50%, -50%) scale(5);
    opacity: 0;
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}

 .tick-mark.checked {
    opacity: 1;
    transform: rotate(-45deg) scale(1);
}