<div  (mousedown)="stopPropagation($event)" (touchstart)="stopPropagation($event)" *ngIf="task && index!==undefined" (click)="activeTask(task.id);$event.stopPropagation()"
    class="task-card mb-1 card text-white"
    [ngClass]="{'animate__animated animate__fadeIn': false, 'active': task.id === local.clock.actualTask}">
    <div class="card-body d-flex justify-content-between align-items-start p-2">
        <div>
            <div class="d-flex align-items-start  justify-content-start align-items-center">
                <div class="dragHandle" style="width: 25px; height: 25px; margin: 0px; padding:0px" cdkDragHandle>
                    <i class="ri-draggable me-1"></i>
                </div>

                <div *ngIf="!child">

                    <div (click)="local.clock.filteredAllSegments=true;local.clock.filteredAllSimpleTasks=true; filterSearchEmitter.emit()"
                        *ngIf="task.elementType==='task'" class="me-2 elementType">
                        T
                    </div>
                    <div (click)="local.clock.filteredAllTasks=true; local.clock.filteredAllSimpleTasks=true;  filterSearchEmitter.emit()"
                        *ngIf="task.elementType==='segment'" class="me-2 elementType">
                        S
                    </div>
                </div>
                <app-check-box   (checkChange)="filterSearch()" class="me-2" *ngIf="task && task.elementType==='simpleTask'" [task]="task"
                    [size]="15*task.size"></app-check-box>
                <div   *ngIf="!child">
                    <div (click)="loadFilteredTasksByLabel(task.label); $event.stopPropagation()"
                        *ngIf="getLabelInfo(task.label)" class="outline-label me-2"
                        style="--color-base: var(--{{getLabelInfo(task.label).color}}-color)">
                        <i *ngIf="getLabelInfo(task.label).icon" class="{{getLabelInfo(task.label).icon}}"></i>
                        {{ getLabelInfo(task.label).name | truncate:10 }}
                    </div>
                </div>
                <div   *ngIf="!child">
                    <div (click)="loadFilteredTasksBySegment(task.segmentId); $event.stopPropagation()"
                        *ngIf="task.segmentId!=null || task.segmentId!=undefined" class="outline-label me-2">
                        {{getSegmentName(task.segmentId) | truncate:10 }}
                    </div>
                </div>
                <!-- <div   *ngIf="local.isVisible || !(task.label || task.segmentId)" class="me-1">
                    {{task.name | truncate:50}}
                </div> -->
                <div *ngIf="child || (!task.label && !task.segmentId)" class="me-1">
                    {{task.name | truncate:40}}
                </div>
            </div>

            <div >
                <!-- <div *ngIf="!local.isVisible && (task.label || task.segmentId)" class="me-1">
                    {{task.name | truncate:50}}
                </div> -->
                <div *ngIf="!child && (task.label || task.segmentId)" class="me-1">
                    {{task.name | truncate:50}}
                </div>
                <div class="small-detail">{{task.detail | truncate:300 }}</div>


               

                <div *ngIf="task.startDate || task.endDate" class="small-detail d-flex align-items-center">
                     <i class="ri-calendar-2-line me-1"></i> 
                    
                    <div *ngIf="task.startDate" >Start Date: {{ task.startDate | date: 'dd-MM-yyyy' }}</div>
                    <div *ngIf="task.startDate && task.endDate" class="ms-1 me-1">-</div>
                    <div *ngIf="task.endDate">End Date: {{ task.endDate | date: 'dd-MM-yyyy' }}</div>
                </div>
                <div *ngIf="task.estimatedTime>0" class="small-detail d-flex align-items-center">
                    <i class="ri-timer-line me-1"></i> {{task.elapsedTime*1000 |
                    customTimeFormat}}
                    of
                    {{task.estimatedTime | customTimeFormat }} - {{
                    taskTimePercentage(task.id) |
                    number:'1.0-1' }}%
                </div>
                <div *ngIf="task.estimatedTime<1 &&task.elapsedTime >0" class="small-detail d-flex align-items-center">
                    <i class="ri-timer-line me-1"></i> {{task.elapsedTime*1000 |
                    customTimeFormat}}
                </div>

                
            </div>

        </div>
        <div class="d-flex justify-content-center" >

            <select *ngIf="task.elementType==='task' || task.elementType==='segment'" (click)="$event.stopPropagation()"
                (change)="onStateChange($event, task); $event.stopPropagation()" [(ngModel)]="task.state"
                class="state-select me-1" aria-label=".form-select-sm example">
                <!-- <option value="-1" selected>Stateless</option> -->
                <option *ngFor="let state of local.states" [value]=state.id>{{state.name |
                    truncate:10}}</option>
            </select>
            <button *ngIf="task.elementType==='segment'" (click)="editTask(task, index, true); $event.stopPropagation()" class="butoPlay d-flex justify-content-center">
                <i class="ri-add-fill"></i>
            </button>
            <button #editTaskButton (click)="editTask(task, index); $event.stopPropagation()" class="butoPlay d-flex justify-content-center">
                <i class="ri-edit-2-fill"></i>
            </button>
        </div>
    </div>
    <div  *ngIf="task.estimatedTime>0" class="progress task">
        <div class="progress-bar bg-danger" role="progressbar task" style="width: {{taskTimePercentage(task.id)}}%">
        </div>
        <div class="progress-bar bg-grey" role="progressbar task" style="width: {{taskTimePercentage(task.id) - 50}}%">
        </div>
    </div>
</div>