<!-- ======= Header ======= -->

<div *ngIf="pageLoaded" class="mainPage animate__animated animate__fadeI">

  <header id="header" [ngClass]="{'header-top':classHeaderTop}">
    <!-- dsfdfsdf   -->
    <div class="container c_custom ">

      <h2>Welkome, I am</h2>
      <h1><a href="index.html">Miquel Puig</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a> -->
      <!-- <h2>I'm a passionate <span>graphic designer</span> from New York</h2> -->

      <nav id="navbar" class="navbar" [ngClass]="{'navbar-mobile':navbarMobile}">
        <ul>
          <li><a [class.active]="isSectionActive('/')" class="nav-link active" routerLink="">Home</a></li>
          <li><a [class.active]="isSectionActive('about')" routerLink="/about" class="nav-link">About</a></li>
          <li><a [class.active]="isSectionActive('resume')" class="nav-link" routerLink="/resume">Resume</a></li>
          <!-- <li><a [class.active]="isSectionActive('services')" class="nav-link" href="#services">Services</a></li>
        <li><a [class.active]="isSectionActive('portfolio')" class="nav-link" href="#portfolio">Portfolio</a></li> -->
          <li><a [class.active]="isSectionActive('contact')" class="nav-link" routerLink="/contact">Contact</a></li>
        </ul>
        <i (click)="navBarClick()" class="bi mobile-nav-toggle"
          [ngClass]="{'bi-list':classBiList,'bi-x':!classBiList}"></i>
      </nav><!-- .navbar -->

      <div class="social-links">
        <!-- <a href="https://twitter.com/MiquelGibert" class="twitter"><i class="bi bi-twitter-x"></i></a> -->
        <!-- <a href="#" class="facebook"><i class="bi bi-facebook"></i></a> -->
        <a href="https://www.instagram.com/miquelshot/" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="https://www.linkedin.com/in/mpuig22/" class="linkedin"><i class="bi bi-linkedin"></i></a>
        <a href="https://github.com/miquipuig" class="github"><i class="bi bi-github"></i></a>
        <a href="https://quelexplorer.com/" class="web"><i class="bi bi-globe"></i></a>
        <a routerLink="/mickeyDino" class="web"><i class="bi bi-joystick"></i></a>
      </div>

    </div>
  </header><!-- End Header -->

  <div *ngIf="!isSectionActive('/')">

    <router-outlet></router-outlet>
  </div>
  <!-- </div> -->
  <div class="credits">
    <!-- All the links in the footer should remain intact. -->
    <!-- You can delete the links only if you purchased the pro version. -->
    <!-- Licensing information: https://bootstrapmade.com/license/ -->
    <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/personal-free-resume-bootstrap-template/ -->
    <div class="me-2">Designed by MP, 2024 &copy;</div>
  </div>
</div>
<!-- <script src="../assets/js/main.js"></script> -->

<!-- Vendor JS Files -->