<!-- ======= Header ======= -->

<div *ngIf="pageLoaded" class="mainPage animate__animated animate__fadeI">

  
      <app-navbar (scrollToSection)="scrollToSection($event)"></app-navbar>


  <!-- <div *ngIf="!isSectionActive('/')"> -->
    <router-outlet></router-outlet>

  <div class="credits">
    <span>Check our <a routerLink="/terms">Terms and Conditions</a> and <a routerLink="/policy">Privacy Policy</a></span>
    <span>Designed by MP, 2024 &copy;</span>
  </div>
</div>
<!-- <script src="../assets/js/main.js"></script> -->

<!-- Vendor JS Files -->