<!-- ======= Header ======= -->

<div *ngIf="pageLoaded" class="mainPage animate__animated animate__fadeI">

  
      <app-navbar (scrollToSection)="scrollToSection($event)"></app-navbar>


  <!-- <div *ngIf="!isSectionActive('/')"> -->
    <router-outlet></router-outlet>

  <div class="credits">
    <a href="javascript:void(0)" (click)="cookiePolicy()">{{ cookieDecided ? 'Change Cookie Policy' : 'Decline Cookie Policy' }}</a>
    <div class="me-2">Check our <a routerLink="/terms">Terms and Conditions</a> and <a routerLink="/policy">Privacy Policy</a></div>
    <div>
      <div class="me-2">Designed by MP, 2024 &copy;</div>
    </div>
  </div>
</div>
<!-- <script src="../assets/js/main.js"></script> -->

<!-- Vendor JS Files -->