<div #colRef>
    <div  class="pomodoro-background">

        <div class="pomodoro-face-outline">
            <div class="pomodoro-face-outline-point point-12"></div>
            <div class="pomodoro-face-outline-point point-1"></div>
            <div class="pomodoro-face-outline-point point-2"></div>
            <div class="pomodoro-face-outline-point point-3"></div>
            <div class="pomodoro-face-outline-point point-4"></div>
            <div class="pomodoro-face-outline-point point-5"></div>
            <div class="pomodoro-face-outline-point point-6"></div>
            <div class="pomodoro-face-outline-point point-7"></div>
            <div class="pomodoro-face-outline-point point-8"></div>
            <div class="pomodoro-face-outline-point point-9"></div>
            <div class="pomodoro-face-outline-point point-10"></div>
            <div class="pomodoro-face-outline-point point-11"></div>
        </div>

        <div class="pomodoro-face-centre">
            <div class="pomodoro-face-centre-inner"></div>
        </div>
        
        <div class="pomodoro-face-hands">
            <div class="pomodoro-face-hand hour" #hourHand></div>
            <div class="pomodoro-face-hand minute" #minuteHand></div>
            <div class="pomodoro-face-hand second" #secondHand></div>
        </div>
    </div>
</div>