.filteMenurCenter {
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, 50%);
}
.filterMenuAbsolute{
	top: 35px;
    position: absolute;
}



.filterList {
	
	/* Se posiciona de forma absoluta respecto al contenedor */
	top: 35px;
	/* Se posiciona justo debajo del contenedor */
	/* left: 0; */
	/* Alinea la lista al borde izquierdo del contenedor */
	width: 220px;
	max-height: 400px;
	overflow-y: auto;
	z-index: 10000;
	scrollbar-width: thin;
	/* Hace la barra de desplazamiento más delgada en Firefox */
	background-color: rgba(241, 241, 241, 0.939);
    color: black;
	/* Fondo blanco para la lista */
	border: 1px white solid;
	border-end-end-radius: 20px;

    /* Sin barra de desplazamiento horizontal*/
    overflow-x: hidden;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Estándar */
}


.close {
    position: absolute;
    right: -5px;
    top: -5px;

  
    border: none;
    background: none;
    font-size: 1.5em;
    transition: background-color 0.3s ease, color 0.3s ease;
    color: #747474;
  
  }
  
  .close:hover {
    color: #000000;
    transition: background-color 0.3s ease, color 0.2s ease;
  }


.listMenu {
    /* background-color: rgba(241, 241, 241, 0.939); */
    color: rgb(102, 102, 102);
    /* padding: 2px 2px 2px 2px; */
    cursor:pointer;
    transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;}
.listMenu:hover {
    background-color: rgb(255, 255, 255);
    color: #000000;
}