<section id="about" class="about" [ngClass]="{'section-show': isSectionActive}">

	<div class="about-me container c_custom ">

		<div class="section-title">
			<h2>productivity</h2>


			<!-- <p>Pomodoro Time</p> -->
		</div>

		<div class="row">
			<div class="col-4">
				<div #colRef>
					<div *ngIf="pomodoro" class="pomodoro-background">
						<div class="pomodoro-face-outline">
							<div class="pomodoro-face-outline-point point-12"></div>
							<div class="pomodoro-face-outline-point point-1"></div>
							<div class="pomodoro-face-outline-point point-2"></div>
							<div class="pomodoro-face-outline-point point-3"></div>
							<div class="pomodoro-face-outline-point point-4"></div>
							<div class="pomodoro-face-outline-point point-5"></div>
							<div class="pomodoro-face-outline-point point-6"></div>
							<div class="pomodoro-face-outline-point point-7"></div>
							<div class="pomodoro-face-outline-point point-8"></div>
							<div class="pomodoro-face-outline-point point-9"></div>
							<div class="pomodoro-face-outline-point point-10"></div>
							<div class="pomodoro-face-outline-point point-11"></div>
						</div>

						<div class="pomodoro-face-centre">
							<div class="pomodoro-face-centre-inner"></div>
						</div>

						<div class="pomodoro-face-hands">
							<div class="pomodoro-face-hand hour" #hourHand></div>
							<div class="pomodoro-face-hand minute" #minuteHand></div>
							<div class="pomodoro-face-hand second" #secondHand></div>
						</div>
					</div>
				</div>
				<div class="square" style="position: relative;"
					[ngClass]="{'rest': pomodoroState === 'shortBreak', 'longRest': pomodoroState === 'longBreak','work': pomodoroState === 'work' && timerStarted}">

					<div class="justify-content-center d-flex">
						<button (click)="changePomodoroState('work')" class="btn botonMenu me-1"
							[ngClass]="{'active': pomodoroState === 'work'}"> Work Time</button>
						<button (click)="changePomodoroState('shortBreak')" class="btn botonMenu me-1"
							[ngClass]="{'active': pomodoroState === 'shortBreak'}"> Short Break</button>
						<button (click)="changePomodoroState('longBreak')" class="btn botonMenu"
							[ngClass]="{'active': pomodoroState === 'longBreak'}"> Long Break</button>


					</div>
					<p class="countdown">{{getTimeLeft()*1000 | date:'mm:ss'}}</p>
					<div style="position: relative">
						<p *ngIf="timerStarted" class="end-time">{{startTime | date:"shortTime"}} <i
								class="ri-arrow-right-line"></i> {{endTime | date:"shortTime" }}</p>

					</div>

					<div class="container" style="height: 30px">
						<div class="d-flex justify-content-center align-items-center">
							<!-- <div *ngFor="let tomato of [].constructor(pomodoroCounter); let i = index" >
							<img src="/assets/productivity/tomato.png" class="pomodoroComplete" width="50" height="50">
						  </div> -->
							<div *ngFor="let tomato of [].constructor(pomodoroQuarterCounter); let i = index">
								<img src="/assets/productivity/tomato.png" class="pomodoroQuarter" width="30"
									height="30">
							</div>
							<div *ngIf="timerStarted">
								<img src="/assets/productivity/tomato.png" class="pomodoroCurrent" width="30"
									height="30">
							</div>

						</div>
					</div>


					<div class="d-flex justify-content-between align-items-center ">
						<!-- Contenedor para el botón Back -->

						<div class="flex-grow-1 d-flex justify-content-end  " style="width: 100px">
							<button *ngIf="undoStartTime>0" class="butoPlay" (click)="undoPomodoro()"
								style="display: flex; align-items: center;">
								<i class="ri-arrow-go-back-fill icono-petit"></i>
							</button>

						</div>

						<!-- Botones Play y Pause, uno visible a la vez, siempre centrados -->
						<div class="mx-auto">
							<button *ngIf="!timerStarted && !isPaused" class="butoPlay " (click)="startTimer()"
								style="display: flex; align-items: center;">
								<i class="ri-play-circle-fill icono-gran"></i> Start Timer
							</button>
							<button *ngIf="!timerStarted && isPaused" class="butoPlay " (click)="startTimer()"
								style="display: flex; align-items: center;">
								<i class="ri-play-circle-fill icono-gran"></i>
							</button>
							<button *ngIf="timerStarted" class="butoPlay " (click)="pauseTimer()"
								style="display: flex; align-items: center;">
								<i class="ri-pause-circle-fill icono-gran"></i>
							</button>
						</div>

						<!-- Contenedor para el botón Skip -->
						<div class="flex-grow-1 d-flex justify-content-start" style="width: 100px">
							<button *ngIf="timerStarted" class="butoPlay " (click)="nextPomodoroState()"
								style="display: flex; align-items: center;">
								<i class="ri-skip-right-fill icono-mitja"></i>
							</button>
						</div>
					</div>

					<div class="container buttonPanel">
						<!-- Barra de progreso con tiempo de inicio y fin -->
						<div class="row align-items-center ">
							<div class="col-auto ">
								<span>{{elapsedTime*1000 | date:'mm:ss'}}</span>
							</div>
							<div class="col ">
								<div class="progress ">
									<div class="progress-bar bg-white" role="progressbar"
										[style]="'width:'+getPercentage()+'%'" aria-valuenow="50" aria-valuemin="0"
										aria-valuemax="100"></div>
								</div>
							</div>
							<div class="col-auto ">
								<span>{{getPercentage()}}%</span>
							</div>
						</div>
					</div>

				</div>
			</div>

			<div class="col-8">
				<!-- button new task-->
				<button class="btn btn-light" (click)="newTask()">New Task</button>

				<!-- task list -->
				<div class="task-list mt-2">
					<div *ngFor="let task of tasks; let i =index" class="card text-white bg-grey mt-1">
						<div class="card-body d-flex justify-content-between p-2">
							<div class="d-flex">
								<p class="card-title me-0 mb-0"><b>{{task.name}}</b></p>
								<p class="card-title me-0 mb-0" *ngIf="task.detail">:&emsp;</p>
								<p class="card-text mb-0">{{task.detail}}</p>
							</div>
							<button (click)="editTask(i)" class="butoPlay"><i class="ri-edit-2-fill"></i></button>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</section>
<app-task-modal (addTask)="addTask($event)" (deleteTask)="deleteTask($event)"></app-task-modal>
