<section id="pomodoro" [ngClass]="{'section-show': local.clock.isSectionActive}">

	<div class="about-me container c_custom ">

		<div class="section-title">
			<h2>Time Management

			</h2>
			<!-- <p>Pomodoro Time</p> -->
		</div>
		<div style="position: relative; height: 30px;" class="mt-2">
			<div class="align-items-center text-end">
				<div *ngIf="!this.tks.taskLoaded"
					class=" text-center d-flex align-items-center justify-content-end mb-2">
					<div class=" d-md-block ms-2 animate__animated animate__fadeIn">Loading... </div>
					<div class="ms-2 animate__animated animate__zoomIn">
						<div class="spinner-border" role="status">
						</div>
					</div>
				</div>
				<div *ngIf="!this.tks.taskSaved" class="text-center d-flex align-items-center justify-content-end mb-2">
					<div class="d-md-block ms-2 animate__animated animate__fadeIn">Saving... </div>
					<div class="ms-2 animate__animated animate__zoomIn">
						<div class="spinner-border" role="status">
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row d-flex justify-content-center ">
			<div class=" col-sm-10 col-md-5 col-lg-4 col-12">


				<app-timer></app-timer>
				<div class="d-none d-md-block">
					<app-clock></app-clock>

				</div>
			</div>

			<div class="col-12 col-md-7 col-lg-8">

				<div id="menu" class=" d-flex flex-column">
					<div class="d-flex justify-content-between  align-items-center">
						<div class="d-flex justify-content-start align-items-center">
							<div #newTaskButton>
								<button class="butoPlay" (click)="newTask()"><i
										class="ri-add-circle-line icono-mitja"></i></button>
							</div>
							<div style="position: relative;"
								class="ms-2 searchDiv d-flex justify-content-between align-items-center">
								<input (input)="filterSearch()" class="searchInput flex-grow-1" id="searchInput"
									type="text" [(ngModel)]="searchInput">
								<span *ngIf="searchInput.length===0"
									class="animate__animated animate__fadeIn searchIcon ms-1"
									style="position: absolute;"><i class="ri-search-line"></i></span>
								<span (click)="clearSarch()" *ngIf="searchInput.length>0"
									class="animate__animated animate__fadeIn closeIcon"><i
										class="ri-close-line"></i></span>

							</div>

							<div style="position: relative;">
								<div (click)="stateFilterMenu=!stateFilterMenu; $event.stopPropagation()"
									class="states-text ms-2 ms-2 searchDiv d-flex justify-content-between align-items-center">
									<i class=" ms-1 me-1 ri-filter-3-line"></i>
								</div>


								<div *ngIf="stateFilterMenu" style="--animate-duration: 0.5s;"
									class=" animate__animated animate__fadeIn  d-flex  justify-content-left list-group filterList "
									[ngClass]="{'filterListRight': !isVisible}">
									<div (click)="asyncStateFilterAll()" class=" list-group-item listGreyColor">
										<div class="form-check form-switch">
											<input style="pointer-events: none;" [(ngModel)]="stateFilterMenuAll"
												class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
											Select All
										</div>
									</div>

									<div style="width: 150px;" (click)="stateFilter(state)" *ngFor="let state of states"
										class=" list-group-item listGreyColor">
										<div class="form-check form-switch">
											<input style="pointer-events: none;" [(ngModel)]="state.visibilityTaskList"
												class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
											{{state.name | truncate:10}}
										</div>
									</div>

								</div>

							</div>

						</div>
						<app-filter-buttons *ngIf="isVisible" (filterSearchEmitter)="filterSearch()"></app-filter-buttons>

					</div>

					<div class="d-flex justify-content-between mb-2">
						<div class="d-flex justify-content-start align-items-center">
							<div (click)="loadUnfilteredTasksByLabel()" *ngIf="local.clock.filteredLabel>=0"
								class="outline-label2 ms-2 "
								style="--color-base: var(--{{getLabelInfo(local.clock.filteredLabel).color}}-color)">
								<i *ngIf="getLabelInfo(local.clock.filteredLabel).icon"
									class="{{getLabelInfo(local.clock.filteredLabel).icon}} me-1"></i>{{
								getLabelInfo(local.clock.filteredLabel).name }} <i class="ri-close-large-line"></i>
							</div>
							<div (click)="loadUnfilteredTasksBySegment()" *ngIf="local.clock.filteredSegment>=0"
								class="outline-label2 ms-2 ">
								{{
								getSegmentName(local.clock.filteredSegment) | truncate:12 }} <i
									class="ri-close-large-line"></i>
							</div>
						</div>
						<app-filter-buttons *ngIf="!isVisible" (filterSearchEmitter)="filterSearch()"></app-filter-buttons>

					</div>


				</div>
				<div *ngIf="tks.filteredTasks.length>0" style="position:relative">
					<div class="animate__animated animate__fadeIn task-list " cdkDropList
						(cdkDropListDropped)="onDrop($event)">
						<div *ngFor="let task of tks.filteredTasks; let i = index" cdkDrag
							(cdkDragStarted)="onDragStarted($event)" (cdkDragEnded)="onDragEnded($event)">
							<div (click)="activeTask(task.id);$event.stopPropagation()"
								class="task-card mb-1 card text-white"
								[ngClass]="{'animate__animated animate__fadeIn': labelsAnimated, 'active': task.id === local.clock.actualTask}">
								<div class="card-body d-flex justify-content-between align-items-start p-2">
									<div>
										<div class="d-flex align-items-start  justify-content-start align-items-center">
											<div style="width: 25px; height: 25px; margin: 0px; padding:0px"
												cdkDragHandle>
												<i class="ri-draggable me-1"></i>
											</div>
											<div (click)="local.clock.filteredAllSegments=true;local.clock.filteredAllSimpleTasks=true; filterSearch()"
												*ngIf="task.elementType==='task'" class="me-2 elementType">
												T
											</div>
											<div (click)="local.clock.filteredAllTasks=true; local.clock.filteredAllSimpleTasks=true; filterSearch()"
												*ngIf="task.elementType==='segment'" class="me-2 elementType">
												S
											</div>
											<!-- <div (click)="local.clock.filteredAllSegments=true;local.clock.filteredAllTasks=true; filterSearch()"
												*ngIf="task.elementType==='simpleTask'" class="me-2 elementType">
												List
											</div> -->
											<app-check-box class="me-2" *ngIf="task.elementType==='simpleTask'"
												[task]="task" [size]="30"></app-check-box>



											<div>
												<div (click)="loadFilteredTasksByLabel(task.label); $event.stopPropagation()"
													*ngIf="getLabelInfo(task.label)" class="outline-label me-2"
													style="--color-base: var(--{{getLabelInfo(task.label).color}}-color)">
													<i *ngIf="getLabelInfo(task.label).icon"
														class="{{getLabelInfo(task.label).icon}}"></i>
													{{ getLabelInfo(task.label).name | truncate:10 }}
												</div>
											</div>
											<div>
												<div (click)="loadFilteredTasksBySegment(task.segmentId); $event.stopPropagation()"
													*ngIf="task.segmentId!=null || task.segmentId!=undefined"
													class="outline-label me-2">
													{{getSegmentName(task.segmentId) | truncate:10 }}
												</div>
											</div>
											<div *ngIf="isVisible || !(task.label || task.segmentId)" class="me-1">
												{{task.name | truncate:50}}
											</div>
										</div>

										<div>
											<div *ngIf="!isVisible && (task.label || task.segmentId)" class="me-1">
												{{task.name | truncate:50}}
											</div>
											<div class="small-detail">{{task.detail | truncate:70 }}</div>

											<div *ngIf="task.estimatedTime>0" class="small-detail">
												<i class="ri-timer-line"></i> {{task.elapsedTime*1000 |
												customTimeFormat}}
												of
												{{task.estimatedTime | customTimeFormat }} - {{
												taskTimePercentage(task.id) |
												number:'1.0-1' }}%
											</div>
											<div *ngIf="task.estimatedTime<1 &&task.elapsedTime >0"
												class="small-detail">
												<i class="ri-timer-line"></i> {{task.elapsedTime*1000 |
												customTimeFormat}}
											</div>
										</div>

									</div>
									<div class="d-flex">


										<select *ngIf="task.elementType==='task' || task.elementType==='segment'"
											(click)="$event.stopPropagation()"
											(change)="onStateChange($event, task); $event.stopPropagation()"
											[(ngModel)]="task.state" class="state-select me-1"
											aria-label=".form-select-sm example">
											<!-- <option value="-1" selected>Stateless</option> -->
											<option *ngFor="let state of states" [value]=state.id>{{state.name |
												truncate:10}}</option>
										</select>
										<button #editTaskButton (click)="editTask(task, i); $event.stopPropagation()"
											class="butoPlay">
											<i class="ri-edit-2-fill"></i>
										</button>
									</div>
								</div>
								<div *ngIf="tks.filteredTasks[i].estimatedTime>0" class="progress task">
									<div class="progress-bar bg-danger" role="progressbar task"
										style="width: {{taskTimePercentage(task.id)}}%">
									</div>
									<div class="progress-bar bg-grey" role="progressbar task"
										style="width: {{taskTimePercentage(task.id) - 50}}%">
									</div>
								</div>
							</div>
							<div *ngIf="local.clock.orderedView && task.elementType==='segment'" cdkDropList
								class="example-list" (cdkDropListDropped)="onDrop($event,task.id)" class="ms-4">
								<div *ngFor="let childTask of task.tasks; let j = index" cdkDrag
									(cdkDragStarted)="onDragStarted($event)" (cdkDragEnded)="onDragEnded($event)">

									<div (click)="activeTask(childTask.id)" class="task-card mb-1 card text-white"
										[ngClass]="{'animate__animated animate__fadeIn': labelsAnimated, 'active': childTask.id === local.clock.actualTask}">

										<div class="card-body d-flex justify-content-between align-items-start p-2">
											<div>
												<div class="d-flex align-items-start justify-content-end">
													<div style="width: 25px; height: 25px; margin: 0px; padding:0px"
														cdkDragHandle>
														<i class="ri-draggable me-1"></i>
													</div>

													<app-check-box class="me-2"
														*ngIf="childTask.elementType==='simpleTask'" [task]="childTask"
														[size]="30"></app-check-box>

													<div class="me-1">
														{{childTask.name | truncate:50}}
													</div>
												</div>
												<div class="small-detail">{{childTask.detail | truncate:70 }}
												</div>
												<div *ngIf="childTask.estimatedTime>0" class="small-detail">
													<i class="ri-timer-line"></i> {{childTask.elapsedTime*1000 |
													customTimeFormat}}
													of
													{{childTask.estimatedTime | customTimeFormat }} - {{
													taskTimePercentage(childTask.id) |
													number:'1.0-1' }}%
												</div>
												<div *ngIf="childTask.estimatedTime<1 &&childTask.elapsedTime >0"
													class="small-detail">
													<i class="ri-timer-line"></i> {{childTask.elapsedTime*1000 |
													customTimeFormat}}
												</div>
											</div>
											<div class="d-flex">
												<select (click)="$event.stopPropagation()"
													(change)="onStateChange($event, childTask); $event.stopPropagation()"
													[(ngModel)]="childTask.state" class="state-select me-1"
													aria-label=".form-select-sm example">
													<!-- <option value="-1" selected>Stateless</option> -->
													<option *ngFor="let state of states" [value]=state.id>
														{{state.name |
														truncate:10}}</option>
												</select>
												<button #editTaskButtonChild
													(click)="editChild(childTask,j, i); $event.stopPropagation()"
													class="butoPlay">
													<i class="ri-edit-2-fill"></i>
												</button>
											</div>
										</div>
										<div *ngIf="childTask.estimatedTime>0" class="progress task">
											<div class="progress-bar bg-danger" role="progressbar task"
												style="width: {{taskTimePercentage(childTask.id)}}%">
											</div>
											<div class="progress-bar bg-grey" role="progressbar task"
												style="width: {{taskTimePercentage(childTask.id) - 50}}%">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div *ngIf="tks.filteredTasks.length===0"
					class="text-center d-flex align-items-center justify-content-center mt-4">
					<div *ngIf="tks.tasks.length>0" class="ms-2 animate__animated animate__fadeIn">No
						elements found. Please check the filters.
					</div>
					<div *ngIf="tks.tasks.length===0"
						class=" ms-2 animate__animated animate__fadeIn justify-content-center">There are no
						items created. Create your first task using the

						<div class="d-flex align-items-center justify-content-center">
							<button class="butoPlay" (click)="newTask()"><i
									class="ri-add-circle-line icono-mitja"></i></button>
							button.
						</div>
					</div>
				</div>
				<pre>{{tks.filteredTasks | json}}</pre>
				<!-- <pre>{{states | json}}</pre> -->
			</div>
		</div>
	</div>
</section>
<app-task-modal (refreshTasks)="refreshTasks()"></app-task-modal>