<section id="pomodoro" [ngClass]="{'section-show': isSectionActive}">

	<div class="about-me container c_custom ">



		<div class="section-title">
			<h2>Time Management

			</h2>
		</div>







		

	




		<div style="position: relative; height: 30px;" class="mt-2">
			<div class="align-items-center text-end">
				<div *ngIf="!this.tks.taskLoaded"
					class=" text-center d-flex align-items-center justify-content-end mb-2">
					<div class=" d-md-block ms-2 animate__animated animate__fadeIn">Loading... </div>
					<div class="ms-2 animate__animated animate__zoomIn">
						<div class="spinner-border" role="status">
						</div>
					</div>
				</div>
				<div *ngIf="!this.tks.taskSaved" class="text-center d-flex align-items-center justify-content-end mb-2">
					<div class="d-md-block ms-2 animate__animated animate__fadeIn">Saving... </div>
					<div class="ms-2 animate__animated animate__zoomIn">
						<div class="spinner-border" role="status">
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row d-flex justify-content-center">
			<div class="col-md-10 col-lg-4 col-12 mb-3">
				<app-timer></app-timer>

				<div class="d-none d-lg-block">
					<app-clock></app-clock>
				</div>
			</div>

			<div class="col-12 col-md-12 col-lg-8">

				<app-history-brief></app-history-brief>

				<div id="menu" class=" d-flex flex-column">
					<div class="d-flex justify-content-between  align-items-center">
						<div class="d-flex justify-content-start align-items-center">
							<div #newTaskButton>
								<button class="butoPlay" (click)="newTask()"><i
										class="ri-add-circle-line icono-mitja"></i></button>
							</div>
							<div style="position: relative;"
								class="ms-2 searchDiv d-flex justify-content-between align-items-center">
								<input (input)="filterSearch()" class="searchInput flex-grow-1" id="searchInput"
									type="text" [(ngModel)]="searchInput">
								<span *ngIf="searchInput.length===0"
									class="animate__animated animate__fadeIn searchIcon ms-1 d-flex justify-content-center"
									style="position: absolute;"><i class="ri-search-line"></i></span>
								<span (click)="clearSarch()" *ngIf="searchInput.length>0"
									class="animate__animated animate__fadeIn closeIcon"><i
										class="ri-close-line"></i></span>

							</div>
							<app-filter-menu [isVisible]="local.isVisible"
								(filterSearchEmitter)="filterSearch()"></app-filter-menu>

						</div>
						<app-filter-buttons *ngIf="local.isVisible"
							(filterSearchEmitter)="filterSearch()"></app-filter-buttons>

					</div>

					<div class="d-flex justify-content-between mb-2">
						<div class="d-flex justify-content-start align-items-center">
							<div (click)="loadUnfilteredTasksByLabel()" *ngIf="local.clock.filteredLabel>=0"
								class="outline-label2 ms-2 "
								style="--color-base: var(--{{getLabelInfo(local.clock.filteredLabel).color}}-color)">
								<i *ngIf="getLabelInfo(local.clock.filteredLabel).icon"
									class="{{getLabelInfo(local.clock.filteredLabel).icon}} me-1"></i>{{
								getLabelInfo(local.clock.filteredLabel).name }} <i class="ri-close-large-line"></i>
							</div>
							<div (click)="loadUnfilteredTasksBySegment()" *ngIf="local.clock.filteredSegment>=0"
								class="outline-label2 ms-2 ">
								{{
								getSegmentName(local.clock.filteredSegment) | truncate:12 }} <i
									class="ri-close-large-line"></i>
							</div>
						</div>
						<app-filter-buttons *ngIf="!local.isVisible"
							(filterSearchEmitter)="filterSearch()"></app-filter-buttons>

					</div>


				</div>
				<div *ngIf="tks.filteredTasks.length>0" style="position:relative">
					<div class="animate__animated animate__fadeIn task-list " cdkDropList
						(cdkDropListDropped)="onDrop($event)">
						<div *ngFor="let task of tks.filteredTasks; let i = index" cdkDrag
							(cdkDragStarted)="onDragStarted($event)" (cdkDragEnded)="onDragEnded($event)">



							<app-task-card [task]="task" [index]="i" (editTaskEmitter)="editTaskReferenced($event)"
								(resumeTimerEmitter)="resumeTimer()"
								(filterSearchEmitter)="filterSearch()"></app-task-card>



							<div *ngIf="local.clock.orderedView && task.elementType==='segment'" cdkDropList
								class="example-list" (cdkDropListDropped)="onDrop($event,task.id)" class="ms-4">
								<div *ngFor="let childTask of task.tasks; let j = index" cdkDrag
									(cdkDragStarted)="onDragStarted($event)" (cdkDragEnded)="onDragEnded($event)">


									<app-task-card [child]='true' [task]="childTask" [index]="j"
										(editTaskEmitter)="editTaskReferenced($event)"
										(resumeTimerEmitter)="resumeTimer()"></app-task-card>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div *ngIf="tks.filteredTasks.length===0"
					class="text-center d-flex align-items-center justify-content-center mt-4">
					<div *ngIf="tks.tasks.length>0" class="ms-2 animate__animated animate__fadeIn">No
						elements found. Please check the filters.
					</div>
					<div *ngIf="tks.tasks.length===0"
						class=" ms-2 animate__animated animate__fadeIn justify-content-center">There are no
						items created. Create your first task using the

						<div class="d-flex align-items-center justify-content-center">
							<button class="butoPlay" (click)="newTask()"><i
									class="ri-add-circle-line icono-mitja"></i></button>
							button.
						</div>
					</div>
				</div>
				<!-- <pre>{{tks.filteredTasks | json}}</pre> -->
				<!-- <pre>{{states | json}}</pre> -->
			</div>
		</div>
	</div>
</section>
<app-task-modal (refreshTasks)="refreshTasks()"></app-task-modal>