.clock-hand {
	width: 30%;
	height: 1%;
	top: 50%;
	left: 50%;
	background-color: rgb(255, 255, 255);
	position: absolute;
	transition: transform 0.5s linear;
}

body {
	background: #eee;
	font-family: "Helvetica Neue", sans-serif;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

/* Website Header */
.header {
	text-align: center;
	font-weight: 300;
	font-size: 30px;
	color: #999;
	margin: 50px;
}

/* Watch Container */
.watch-container {
	width: 300px;
	margin: 50px auto;
}

/* Watch */
.watch {
	position: relative;
	width: 300px;
	height: 300px;
}

/* Watch Face */
.watch-face {
	width: 300px;
	height: 300px;
	border-radius: 100%;
	background: #3F484A;
	/* Dial colour */
	border: 10px solid silver;
	/* Face border */
	box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.5), 1px 1px 2px rgba(0, 0, 0, 0.3);
}

/* Watch Face Outline */
.watch-face-outline {}

.watch-face-outline-point {
	position: absolute;
	width: 10px;
	height: 10px;
	background: #777;
	left: 145px;
	top: 24px;
	border-radius: 100%;
	-webkit-transform-origin: 50% 126px;
	transform-origin: 50% 126px;
}

.point-12 {
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
}

.point-1 {
	-webkit-transform: rotate(30deg);
	transform: rotate(30deg);
}

.point-2 {
	-webkit-transform: rotate(60deg);
	transform: rotate(60deg);
}

.point-3 {
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

.point-4 {
	-webkit-transform: rotate(120deg);
	transform: rotate(120deg);
}

.point-5 {
	-webkit-transform: rotate(150deg);
	transform: rotate(150deg);
}

.point-6 {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

.point-7 {
	-webkit-transform: rotate(210deg);
	transform: rotate(210deg);
}

.point-8 {
	-webkit-transform: rotate(240deg);
	transform: rotate(240deg);
}

.point-9 {
	-webkit-transform: rotate(270deg);
	transform: rotate(270deg);
}

.point-10 {
	-webkit-transform: rotate(300deg);
	transform: rotate(300deg);
}

.point-11 {
	-webkit-transform: rotate(330deg);
	transform: rotate(330deg);
}

/* Watch Face Date */
.watch-face-date {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.1);
	width: 27px;
	height: 27px;
	border-radius: 100%;
	text-align: center;
	top: 138px;
	right: 50px;
	font-size: 15px;
	line-height: 27px;
	color: #aaa;
	font-weight: 300;
}

/* Watch Face Center */
.watch-face-centre {
	position: absolute;
	width: 12px;
	height: 12px;
	top: 144px;
	left: 144px;
	border-radius: 100%;
	background: #fff;
}

.watch-face-centre-inner {
	position: absolute;
	z-index: 1;
	width: 8px;
	height: 8px;
	top: 2px;
	left: 2px;
	border-radius: 100%;
	background: #333;
	border: 2px solid #fa9f22;
}

/* Watch Face Hands */
.watch-face-hands {}

.watch-face-hand {
	position: absolute;
}

.watch-face-hand.hour {
	width: 4px;
	height: 60px;
	top: 90px;
	left: 148px;
	border-radius: 10px;
	background: #fff;
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	-webkit-transform: rotate(306deg);
	transform: rotate(306deg);
}

.watch-face-hand.minute {
	width: 4px;
	height: 120px;
	top: 30px;
	left: 148px;
	border-radius: 10px;
	background: #fff;
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	-webkit-transform: rotate(50deg);
	transform: rotate(50deg);
}

.watch-face-hand.second {
	width: 2px;
	height: 145px;
	top: 20px;
	left: 149px;
	border-radius: 10px;
	background: #fa9f22;
	-webkit-transform-origin: 50% 130px;
	transform-origin: 50% 130px;
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

/* Watch Crown */
.watch-crown {
	position: relative;
	z-index: -1;
	width: 15px;
	height: 26px;
	top: -163px;
	left: 295px;
	border-radius: 5px;
	background: #999;
	border-right: 2px solid rgba(0, 0, 0, 0.05);
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

/* Watch Straps */
.watch-strap-top {
	position: relative;
	z-index: -1;
	width: 120px;
	height: 150px;
	left: 90px;
	bottom: -20px;
	background: #785734;
	border-radius: 10px 10px 0 0;
}

.watch-strap-bottom {
	position: relative;
	z-index: -1;
	width: 120px;
	height: 150px;
	left: 90px;
	bottom: 20px;
	background: #785734;
	border-radius: 0 0 10px 10px;
	color: rgba(0, 0, 0, 0.2);
	font-weight: bold;
	text-align: center;
	padding-top: 120px;
	text-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.5);
}

/* Website Footer */
.footer {
	text-align: center;
	font-weight: 400;
	font-size: 14px;
	color: #999;
	margin: 50px;
}

.footer a {
	color: #999;
	font-weight: 500;
	text-decoration: none;
}

.footer a:hover {
	text-decoration: underline;
}


.pomodoro-face-outline-point {
	position: absolute;
	width: var(--pomodoro-pointWide, 8px);
	height: var(--pomodoro-pointWide, 8px);
	/* background: #3f0101; */
	background: #ffffff;
	left: calc(50% - var(--pomodoro-pointWide)/2);
	top: calc(var(--pomodoro-centerHeight) - var(--pomodoro-radius));
	border-radius: 100%;
	/* -webkit-transform-origin: 50% 0px; */
	transform-origin: 50% calc(var(--pomodoro-radius, 50px));
}


.pomodoro-background {
	background-image: url('/assets/productivity/tomato.png');
	width: 100%;
	padding-top: 90%;
	/* Asigna un padding-top del 100% del ancho */
	position: relative;
	background-size: cover;
	/* Asegura que la imagen cubra completamente el espacio disponible */
	background-repeat: no-repeat;
	/* Evita que la imagen se repita */
	/* Evita que la imagen se repita */
	filter: brightness(80%) contrast(90%);
}

.pomodoro-face-centre {
	position: absolute;
	width: var(--pomodoro-centerWide);
	height: var(--pomodoro-centerWide);
	top: calc(var(--pomodoro-centerHeight) - var(--pomodoro-centerWide)/2);
	left: calc(50% - var(--pomodoro-centerWide)/2);
	border-radius: 100%;
	background: #fff;
}

.pomodoro-face-centre-inner {
	position: absolute;
	z-index: 1;
	width: calc(var(--pomodoro-centerWide)*0.70);
	height: calc(var(--pomodoro-centerWide)*0.70);
	top: calc(var(--pomodoro-centerWide)*0.15);
	left: calc(var(--pomodoro-centerWide)*0.15);
	border-radius: 100%;
	background: #333;
	border: 2px solid #fa9f22;
}

.pomodoro-face-outline {}

.pomodoro-face-hands {}

.pomodoro-face-hand {
	position: absolute;
}



.pomodoro-face-hand.hour {
	width: var(--pomodoro-handWide, 4px);
	height: calc(var(--pomodoro-radius)/2);
	top: calc(var(--pomodoro-centerHeight) - var(--pomodoro-radius)/2);
	left: calc(50% - var(--pomodoro-handWide)/2);
	background: #fff;
	-webkit-transform-origin: 50% calc(var(--pomodoro-radius)/2);
	transform-origin: 50% calc(var(--pomodoro-radius)/2);
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
}

.pomodoro-face-hand.minute {
	width: var(--pomodoro-handWide, 4px);
	height: var(--pomodoro-radius);
	top: calc(var(--pomodoro-centerHeight) - var(--pomodoro-radius));
	left: calc(50% - var(--pomodoro-handWide)/2);
	/* border-radius: 10px; */
	background: #fff;
	-webkit-transform-origin: 50% var(--pomodoro-radius);
	transform-origin: 50% var(--pomodoro-radius);
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
}

.pomodoro-face-hand.second {
	width: var(--pomodoro-secondWide, 2px);
	height: calc(var(--pomodoro-radius)*1.2);
	top: calc(var(--pomodoro-centerHeight) - var(--pomodoro-radius));
	left: calc(50% - var(--pomodoro-secondWide)/2);
	/* border-radius: 10px; */
	background: #fa9f22;
	-webkit-transform-origin: 50% var(--pomodoro-radius);
	transform-origin: 50% calc(var(--pomodoro-radius));
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
}

.countdown {
	position: relative;
	border: 0px;
	padding: 0px;
	font-size: 72px;
	/* Tamaño grande de la fuente */
	font-weight: bold;
	/* Fuente en negrita */
	font-family: 'Arial', sans-serif;
	/* Familia de fuente, con fallback a sans-serif */
	color: #fff;
	/* Color del texto, un gris oscuro para fácil lectura */
	line-height: 1.3;
	/* Espaciado entre líneas para mejorar la legibilidad */
	letter-spacing: 1px;
	/* Espaciado entre letras para una apariencia más distinguida */
	text-transform: uppercase;
	/* Transforma el texto a mayúsculas para más impacto */
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
	/* Sombra suave para destacar el texto */

	/* Propiedades adicionales para centrar el texto */
	text-align: center;
	/* Centra el texto horizontalmente */
	display: flex;
	/* Usa flexbox para facilitar la alineación */
	align-items: center;
	/* Centra el contenido verticalmente dentro del contenedor */
	justify-content: center;
	/* Centra el contenido horizontalmente dentro del contenedor */
	height: 100%;
	/* Asegura que el contenedor tenga altura completa para centrar verticalmente */
}

.button {
	/* top:20px; */
	background: var(--main-color);
	border: 0;
	padding: 10px 30px;
	color: #fff;
	transition: 0.4s;
	border-radius: 4px;
	z-index: 100000;
	position: relative;
}

.button:hover {

	background: var(--selectedButton-color);
}

.end-time {
	position: absolute;
	top: -30px;
	/* right: 30%; */
	left: 50%;
	transform: translateX(-50%);
	margin: 0px;
	padding: 0px;
	font-size: 0.8em;
	/* Elimina márgenes por defecto */
}

.square {
	position: relative;
	background-color: rgba(255, 255, 255, 0.2);
	/* Blanco con 20% de transparencia */
	border-radius: 8px;
	padding: 15px;
	box-sizing: border-box;
	transition: background-color 0.5s ease;
	/* Transición suave del color de fondo */
}

.square.work {
	background-color: rgba(255, 40, 0, 0.3);
	/* Rojo con 20% de transparencia */
}

.square.rest {
	background-color: rgba(0, 0, 255, 0.3);
	/* Azul con 30% de transparencia */
}

.square.longRest {
	background-color: rgba(0, 255, 150, 0.3);
	/* Verde azulado con 30% de transparencia */
}


.botonMenu {
	z-index: 10;
	/* width: auto; */
	padding: 0px, 0px;
	margin: 0px;
	border: none;
	height: auto;
	background-color: rgba(255, 255, 255, 0.0);
	transition: background-color 0.3s ease, color 0.3s ease;
	/* Transición para el fondo y el color del texto */
	border-radius: 5px;
	/* O el radio que prefieras */

	/* background-color: rgb(224, 9, 9); Fondo blanco con transparencia */

	font-size: 1em;
	/* Tamaño de letra pequeño */
	color: #ffffff9f;
	/* Color inicial de la letra */
	transition: color 0.3s ease;
	/* Transición suave del color */
}

.botonMenu:hover {
	color: #ffffffbe;
	/* Cambio de color al pasar el ratón por encima */
	transition: background-color 0.3s ease, color 0.2s ease;
	/* Transición para el fondo y el color del texto */
}

.botonMenu {
	z-index: 10;
	/* width: auto; */
	padding: 0px, 0px;
	margin: 0px;
	border: none;
	height: auto;
	background-color: rgba(255, 255, 255, 0.0);
	transition: background-color 0.3s ease, color 0.3s ease;
	/* Transición para el fondo y el color del texto */
	border-radius: 5px;
	/* O el radio que prefieras */

	/* background-color: rgb(224, 9, 9); Fondo blanco con transparencia */

	font-size: 1em;
	/* Tamaño de letra pequeño */
	color: #ffffff6f;
	/* Color inicial de la letra */
	transition: color 0.3s ease;
	/* Transición suave del color */
}

.botonMenu.active {
	color: rgb(0, 0, 0);
	/* Cambio de color cuando está activo */
	background-color: #ffffffaa;
	/* Color de fondo más leve cuando está activo */
	transition: background-color 0.3s ease, color 0.3s ease;
	/* Transición para el fondo y el color del texto */
}

.botonMenu:active {
	transform: translateY(2px);
}

.butoPlay {
	z-index: 10;
	/* width: auto; */
	margin: 0px !important;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
	padding-right: 0px !important;
	padding-left: 0px !important;
	padding-bottom: 0px !important;
	padding-left: 0px !important;
	border: none;
	/* height: auto; */
	background-color: rgba(255, 255, 255, 0.0);
	transition: background-color 0.3s ease, color 0.3s ease;
	/* Transición para el fondo y el color del texto */

	/* background-color: rgb(224, 9, 9); Fondo blanco con transparencia */

	font-size: 1em;
	/* Tamaño de letra pequeño */
	color: #ffffffaa;
	/* Color inicial de la letra */
	transition: color 0.3s ease;
	/* Transición suave del color */
}

.butoPlay:hover {
	color: #ffffff;
	/* Cambio de color al pasar el ratón por encima */
	transition: background-color 0.3s ease, color 0.2s ease;
	/* Transición para el fondo y el color del texto */
}

.butoPlay:active {
	transform: scale(0.95);
	/* Disminuye el tamaño a 98% cuando se presiona */
}


.icono-gran {
	font-size: 45px;
	/* Ajusta el tamaño a tu preferencia */
	color: #ffffff;
}

.icono-mitja {
	font-size: 32px;
	/* Ajusta el tamaño a tu preferencia */
}

.icono-petit {
	font-size: 22px;
	/* Ajusta el tamaño a tu preferencia */
	padding-right: 5px;
}



.progress.play {
	background-color: #ffffffaa;
	/* Fondo gris para la barra de progreso */
	height: 6px;
	/* Altura más fina de la barra de progreso */
	border-radius: 3px;
	/* Bordes redondeados */
}

.progress-bar.play {
	background-color: white;
	/* Color blanco para la barra de progreso activa */
}


.progress.task {
	background-color: #ffffffaa;
	/* Fondo gris para la barra de progreso */
	height: 5px;
	border-radius: 3px;
	/* Bordes redondeados */
}

.progress-bar.task {
	background-color: white;
	/* Color blanco para la barra de progreso activa */
	/* height: 10px; */

}



img.pomodoroComplete {
	/* filter: grayscale(100%);  */
}

img.pomodoroQuarter {
	/*filtro verde*/
	/* filter: hue-rotate(90deg);  */
}

@keyframes blink {
	0% {
		opacity: 0.5;
	}

	50% {
		opacity: 1;
	}

	100% {
		opacity: 0.5;
	}
}

img.pomodoroCurrent {
	opacity: 0.5;
	/* Tomates pendientes más transparentes */
	animation: blink 1s infinite;
}

.buttonPanel {
	padding-top: -10px !important;
	margin-top: -10px !important;
	padding-bottom: 0px !important;
	margin-bottom: 0px !important;
}

.buttonCard {
	margin: 0px !important;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
	padding-right: 0px !important;
	padding-left: 0px !important;
	padding-bottom: 0px !important;
	padding-left: 0px !important;
	border: none;
	background-color: rgba(255, 255, 255, 0);
	color: #ffffffaa;
	/* Color inicial de la letra */
	transition: color 0.3s ease;
	/* Transición suave del color */
}

.bg-grey {
	background-color: rgba(255, 255, 255, 0.2);
	/* Cambia esto por el código de color que prefieras */
}

.task-card {
	background-color: rgba(255, 255, 255, 0.2);
	/* Cambia esto por el código de color que prefieras */
	cursor: pointer;
	/* Agrega esta línea para cambiar el cursor */

}

.task-card:hover {
	background-color: rgba(255, 255, 255, 0.4);
	/* Cambia esto por el código de color que prefieras */
}

.task-card:active {
	background-color: rgba(255, 255, 255, 0.7);
	/* Cambia esto por el código de color que prefieras */
}

.small-detail {
	font-size: 0.8em;
	color: #ffffffaa;
}

.task-card.active {
	background-color: rgba(255, 255, 255, 0.6);
	/* Cambia esto por el código de color que prefieras */
}

.card {
	border-top-left-radius: 0.25rem;
	border-top-right-radius: 0.25rem;
	border-bottom-right-radius: 0.25rem;
	border-bottom-left-radius: 0.25rem;
}

.outline-label {
	display: inline-block;

	color: var(--color-base);
	/* Color rojo de peligro */
	font-size: 0.8rem;
	/* Tamaño de letra estándar */
	text-align: center;
	vertical-align: middle;
	user-select: none;
	border: 1px solid var(--color-base);
	/* Borde rojo de peligro */
	padding: 0px 5px;
	/* Padding similar al de Bootstrap */
	line-height: 1.5;
	border-radius: 0.5rem;
	/* Bordes redondeados */
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
		border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	/* Transiciones suaves */
	background-color: transparent;
	/* Fondo transparente */

}



.outline-label:hover {
	color: #fff;
	background-color: var(--color-base);
}



.outline-label2 {
	display: inline-block;

	color: var(--color-base);
	/* Color rojo de peligro */
	font-size: 0.8rem;
	/* Tamaño de letra estándar */
	text-align: center;
	vertical-align: middle;
	user-select: none;
	border: 1px solid var(--color-base);
	/* Borde rojo de peligro */
	padding: 0px 5px;
	/* Padding similar al de Bootstrap */
	line-height: 1.5;
	border-radius: 0.5rem;
	/* Bordes redondeados */
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
		border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	/* Transiciones suaves */
	background-color: transparent;
	/* Fondo transparente */
	cursor:pointer;

}

.outline-label2:hover .ri-close-large-line {
    font-weight: 900;
	filter: brightness(130%);
	/* font-size: large; */
}

.searchDiv {
    background-color: rgba(0, 0, 0, 0.5); /* Fondo negro con transparencia */
    color: white; /* Color de texto blanco */
    border: 2px solid rgb(179, 179, 179); /* Borde de color gris */
    border-radius: 20px; /* Bordes redondeados */
    padding: 2px; /* Espaciado interno para que el texto no esté justo en el borde */
    width: auto; /* Opcional: Ajusta el ancho al contenedor si lo necesitas */
    box-sizing: border-box; /* Para incluir el padding y el borde en el ancho total */
}
.searchInput {
    background-color: transparent;
    color: white; /* Color de texto blanco */
    border-radius: 20px; /* Bordes redondeados */
	border:none;
    padding: 0px 40px 0px 10px;/* Espaciado interno para que el texto no esté justo en el borde */
    width: 200px; /* Opcional: Ajusta el ancho al contenedor si lo necesitas */
}
.searchInput:focus{
	outline: none;
	background-color: rgba(255, 255, 255, 0.1); /* Cambia ligeramente el color de fondo al enfocar */

}


.searchInput:focus + .searchIcon {
    transform: translateX(175px); /* Ajusta este valor según el ancho de tu input */
    transition: transform 0.5s ease;
}
.searchIcon {
    position: absolute;
    transition: transform 0.5s ease; /* Asegura una transición suave en ambos sentidos */
}
.closeIcon{
	position: absolute;
	right: 5px;
	cursor: pointer;
	transition: filter 0.3s ease-in-out, font-weight 0.3s ease-in-out;
}

.closeIcon:hover {
	filter: brightness(130%);
	font-weight: bold;
}