<!-- <label>{{ myLabel }}</label> -->



<button (click)="openEdit()" type="button" class="butoPlay  d-flex align-items-center">
    <i class="ri-price-tag-3-fill"></i>
</button>
<div *ngIf="editLabelOpened" class="animate__animated animate__fadeIn labelEditorBox">

    <button type="button" (click)="close()" class="close">
        <i class="ri-close-line"></i>
    </button>
    <h5 class="modal-title  mb-2"> <i class="ri-price-tag-3-line"></i> Edit Activity Label</h5>
    <div class="mb-2">
        <!-- <hr style="color: white; margin: 0px; width: 105%; border: 5px solid white; position: relative; left: -2%;"> -->
        <hr class="hrCustom">

    </div>

    <div class=" labelMargin d-flex flex-column justify-content-between">
        <div class="row ">

            <div class="col-12 px-1">
                <button [ngClass]="{'disabled': !(selectedLabel.id>=0)}" (click)="saveLabel()" type="button"
                    class="btn btn-secondary btn-sm mb-2 d-flex align-items-center"
                    style="padding-top: 1px; padding-bottom: 1px; padding-left: 2px;">
                    <i style="font-size: 1.2rem;" class="ri-add-circle-line icono-mitja ms-1 me-1"></i> New Activity
                </button>
            </div>
        

            <div class="col-12 col-sm-6 px-1 mb-2">
                <!-- <button class="butoPlay" ><i class="ri-add-circle-line icono-mitja"></i></button> -->

                <ul class="list-group labelListHeight">

                    <div *ngFor="let label of labels">
                        <li (click)="selectLabel(label)" class="list-group-item listGreyColor"
                            [ngClass]="{'listGreyColor_active': label.id=== selectedLabel.id}">
                            <div class="d-flex align-items-center justify-content-between">
                                {{label.name |
                                truncate:11}}
                                <div class="color-option " style="--color-base: var(--{{label.color}}-color)">
                                    <div class="d-flex align-items-center">
                                        <i class="{{label.icon}}"></i>
                                    </div>
                                </div>
                            </div>
                        </li>

                    </div>
                </ul>
            </div>

            <div class="col-12 col-sm-6 d-flex flex-column  px-1 mb-1">

                <form #miForm="ngForm">

                    <div class="form-floating mb-1">
                        <input id="name" type="text" type="text" class="form-control" placeholder="" aria-label="name"
                            aria-describedby="addon-wrapping" [(ngModel)]="selectedLabel.name"
                            name="selectedLabel.name">
                        <label class="form-label
                        grey-text" for="floatingInput">Activity Name...</label>
                    </div>
                    <div class="d-flex mt-2 mb-1">
                        <div (click)="pickColor()" type="button"  class="me-2 ">
                            <div class="color-option bigIcon" style="--color-base: var(--{{selectedLabel.color}}-color)"><i
                                    class="ri-palette-line"></i></div>

                        </div>

                        <div type="button" (click)="pickIcon()">
                            <div class="color-option bigIcon2" style="--color-base: var(--clearGrey-color)">

                                <div class="d-flex align-items-center">
                                    <i class="{{selectedLabel.icon}}"></i>
                                    <div style="font-size: 1rem;line-height: 1.2;">
                                        Select Icon
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>



                </form>
                <div style="position: relative;">

                    <div style=" --animate-duration: 0.5s;"
                        class="mt-1 mb-1 animate__animated animate__fadeIn card iconColorPicker"
                        *ngIf="pickColorOpened">
                        <div class="card-body d-flex flex-wrap">
                            <h6 class="card-subtitle mb-2 text-muted">Pick Color:</h6>
                            <div class="d-flex flex-wrap">


                                <div type="button" (click)="selectColor(color)" *ngFor="let color of availableColors"
                                    class="color-container">
                                    <div class="color-option " style="--color-base: var(--{{color}}-color)">
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div style=" --animate-duration: 0.5s;"
                        class="mt-1 mb-1 animate__animated animate__fadeIn card iconColorPicker" *ngIf="pickIconOpened">
                        <div class="card-body d-flex flex-wrap">
                            <h6 class="card-subtitle mb-2 text-muted">Pick Icon:</h6>
                            <div class="d-flex flex-wrap">

                                <div (click)="selectIcon('')" class="color-container">
                                    <div class="color-option " style="--color-base: var(--clearGrey-color)">
                                        <div class="d-flex align-items-center">

                                        </div>
                                    </div>
                                </div>
                                <div (click)="selectIcon(icon)" type="button" *ngFor="let icon of availableIcons"
                                    class="color-container">
                                    <div class="color-option " style="--color-base: var(--clearGrey-color)">
                                        <div class="d-flex align-items-center">
                                            <i class="{{icon}}"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

            </div>

        </div>

        <div class="row">    
            <div class="mb-2 px-1">
                <!-- <hr style="color: white; margin: 0px; width: 105%; border: 5px solid white; position: relative; left: -2%;"> -->
                <hr class="hrCustom">
        
            </div>
            <div class="col-12 d-flex justify-content-between px-1">

                <div >
                    <button *ngIf="(selectedLabel.id>0)" (click)="deleteLabel()" type="button"
                        class="btn btn-danger btn-sm"><i class="ri-delete-bin-7-line"></i> Delete</button>
                </div>
                <div>
                    <!-- Botón Add, se muestra solo cuando no se ha seleccionado una etiqueta existente -->
                    <button *ngIf="!(selectedLabel.id>0)" (click)="saveLabel()" type="button"
                        class="btn btn-secondary btn-sm"
                        [ngClass]="{'disabled': (selectedLabel.name==='' || selectedLabel.name===null || selectedLabel.name===undefined)}">Add</button>
                    <!-- Botón Save, se muestra solo cuando hay una etiqueta seleccionada -->
                    <button *ngIf="(selectedLabel.id>0)" (click)="saveLabel()" type="button"
                        class="btn btn-secondary btn-sm">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>