.close {
  position: absolute;
  right: 0px;
  top: 0px;

  border: none;
  background: none;
  font-size: 2em;
  transition: background-color 0.3s ease, color 0.3s ease;
  color: #575757d6;

}

.close:hover {
  color: #000000;
  transition: background-color 0.3s ease, color 0.2s ease;
}

.labelEditorBox {
  position: fixed;
  /* justify-content: center;
    align-items: center; */
  display: flex;
  flex-direction: column;
  height: auto;
  width: auto;
  min-width: 380px;
  padding: 8px;
  background-color: #d9d9d9;
  border-radius: 10px;
  border: none;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  /* Sombra con desplazamiento a la derecha y abajo, con desenfoque y color semitransparente */
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  /* Sombra con desplazamiento a la derecha y abajo, con desenfoque y color semitransparente */

  border: 2px solid rgba(255, 255, 255, 0);
  /* Borde negro sólido con un grosor de 2px */
  z-index: 100;
  /* top: 50%;  */
  left: 50%;
  /* Centra horizontalmente */
  transform: translate(-50%, 0);
  /* Ajusta el centro exacto del elemento */
}

.listGreyColor {
  background-color: rgb(241, 241, 241);
  color: rgb(102, 102, 102);
  /* padding: 2px 2px 2px 2px; */
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.listGreyColor:hover {
  background-color: rgb(255, 255, 255);
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.listGreyColor_active {
  background-color: rgb(255, 255, 255) !important;
  font-weight: bold !important;
}

.labelMargin {
  margin: 0px 10px;
  padding: 0px 0px;
  height: auto;
  /* display: flex; */
  justify-content: space-between;
  /* Espaciado entre el contenido y los botones */
}

.color-option {
  width: 25px;
  height: 25px;
  border-radius: 5px;
  /* Bordes levemente redondeados */
  background-color: var(--color-base);
  /* Color desde variable CSS */
  transition: filter 0.3s ease;
  /* Transición suave del filtro */

  /* Añadir estilos para centrar contenido y color de texto */
  display: flex;
  /* Usa Flexbox para el contenedor */
  justify-content: center;
  /* Centra horizontalmente */
  align-items: center;
  /* Centra verticalmente */
  color: rgb(255, 255, 255);
  /* Color de texto blanco */
  text-align: center;
  /* Asegura que el texto esté centrado si es más largo que el espacio disponible */
}

.color-option:hover {
  filter: brightness(90%);
  /* Más claro al hacer hover */
}



.color-option.big {
  margin: 5px;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  /* Bordes más redondeados */
  font-size: 2rem;
  /*shadow*/
  /* border:var(--color-base) 2px solid; */
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);



}

.color-option.bigIcon {
  font-size: 2rem;
  width: 50px;
  height: 50px;
  padding: 5px;

  margin: 0px;
  border-radius: 10px;
  /* Bordes más redondeados */
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
}

.color-option.bigIcon2 {
  font-size: 2rem;
  width: 100px;
  height: 50px;
  padding: 5px;
  margin: 0px;
  border-radius: 10px;
  /* Bordes más redondeados */
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
}

.color-container {
  margin: 5px;
}

.card-body {
  padding-bottom: 10px;
  /* Reducir según necesidad */
}



.labelListHeight {
  height: 250px;
  overflow-y: auto;
  overflow-x: hidden;
}

.butoPlay {
  z-index: 10;
  /* width: auto; */
  margin: 0px !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  padding-right: 0px !important;
  padding-left: 0px !important;
  padding-bottom: 0px !important;
  padding-left: 0px !important;
  border: none;
  background: none;
  transition: background-color 0.3s ease, color 0.3s ease;
  color: #575757d6;
  transition: color 0.3s ease;
}

.butoPlay:hover {
  color: #000000;
  /* Cambio de color al pasar el ratón por encima */
  transition: background-color 0.3s ease, color 0.2s ease;
  /* Transición para el fondo y el color del texto */
}

.iconColorPicker {
  position: absolute;
  z-index: 100;
}

.col {
  padding: 0px 0px 0px 0px !important;
  margin: 0px 0px 0px 0px !important;
}

.hrCustom {
  color: #eaeaea;
  margin: 0px;
  width: calc(100% + 20px);
  border-top: 1px solid #ececec;
  position: relative;
  left: -10px;
  opacity: 1 !important;
}