.close {
    position: absolute;
    right: 0px;
    top: 0px;
    
    border: none;
    background: none;
    font-size: 2em;
    transition: background-color 0.3s ease, color 0.3s ease;
    color: #575757d6;
    
  }
  
  .close:hover{
    color: #000000;
    transition: background-color 0.3s ease, color 0.2s ease;
  }

  .labelEditorBox {
    display: flex;
    position: fixed;
    /* justify-content: center;
    align-items: center; */
    flex-direction: column;
    width: auto;
    min-width: 400px;
    height: auto;
    background-color: #d9d9d9;
    border-radius: 5px;
    border:none;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    /* Sombra con desplazamiento a la derecha y abajo, con desenfoque y color semitransparente */
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    /* Sombra con desplazamiento a la derecha y abajo, con desenfoque y color semitransparente */
  
    border: 2px solid rgba(255, 255, 255, 0);
    /* Borde negro sólido con un grosor de 2px */
    z-index: 100;
    /* top: 50%;  */
    left: 50%;
    /* Centra horizontalmente */
    transform: translate(-50%, 0);
    /* Ajusta el centro exacto del elemento */
  }

  .listGreyColor {
    background-color: rgb(241, 241, 241);
    color: rgb(102, 102, 102);
    /* padding: 2px 2px 2px 2px; */
    cursor:pointer;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
.listGreyColor:hover {
    background-color: rgb(255, 255, 255);
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.listGreyColor_active {
    background-color: rgb(255, 255, 255) !important;
    font-weight: bold !important;
}
.labelMargin{
    margin: 10px 10px 10px 10px;
}