<section id="resume" class="resume" [ngClass]="{'section-show': isSectionActive}">

<div class="container c_custom">

    <div class="section-title">
      <h2>Resume</h2>
      <p>Check My Resume</p>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <h3 class="resume-title">Sumary</h3>
        <div class="resume-item pb-0">
          <h4>Miquel Puig</h4>
          <!-- <p><em>Telecommunications engineer with experience as a security architect, excelling in team and project management. Passionate about technology and committed to excellence, my ability to explore diverse areas has provided me with a global and strategic vision of the current and future technological landscape.</em> -->
            <p><em>Telecommunications engineer with experience as a security architect, excelling in team and project management. Passionate about technology and committed to excellence, my ability to design solutions or products and lead teams through implementation to production adds to my skill set. This, coupled with my capacity to explore diverse areas, provides me with a global and strategic vision of the current and future technological landscape.</em>

          <ul>
            <li>Barcelona</li>
            <li>+34 679 762 976</li>
            <li>info@miquelpuig.studio</li>
          </ul>

        </div>
        <h3 class="resume-title">Professional Experience</h3>
        <div class="resume-item">
          <h4>Security Specialist Architect</h4>
          <h5>2019 - Present</h5>
          <p><em>CAIXABANK TECH, Barcelona </em></p>
          <p> </p>
            Solutions Architect specializing in cryptography and biometrics. Skilled in integrating and implementing new technologies. Proficient in team design, management, and service delivery.
        </div>
        <div class="resume-item">
          <h4>Project Manager - Security</h4>
          <h5>2017 - 2019</h5>
          <p><em>SILK Applications: CaixaBank IT Services</em></p>
          <p>Product owner coordination:</p>
          <ul>
            <li>Team and project management.</li>
            <li>Customer management.</li>
            <li>Study of new technologies.</li>
            <li>Project and strategy definition.</li>
          </ul>

        </div>
        <div class="resume-item">
          <h4>Project Manager - ALM Tools and Changes</h4>
          <h5>2013 - 2017</h5>
          <p><em>SILK Applications: IT Services from La Caixa S.A.</em></p>
          <p>Managment stage:</p>
          <ul>
            <li>Management of supplier providers.</li>
            <li>Project management.</li>
            <li>Technological analysis and development.</li>
          </ul>

        </div>
        <div class="resume-item">
          <h4>Development and Development Support</h4>
          <h5>2011 - 2013</h5>
          <p><em>SILK Applications: IT Services from La Caixa S.A.</em></p>
          <p>Development and Service stage:</p>
          <ul>
            <li>Automation and evolution of internal lifecycle tools. Software development.</li>
            <li>Software development.</li>
            <li>Incident management and development support.</li>
          </ul>

        </div>
      </div>
      <div class="col-lg-6">
        <h3 class="resume-title">Formal Education</h3>
        <div class="resume-item">
          <h4>Higher Degree in Telecommunications Engineering</h4>
          <h5>2005 - 2012</h5>
          <p><em> TelecomBCN - Polytechnic University of Catalonia</em></p>
          <p>Specializing in Information Technology (IT), acquiring solid knowledge in communication systems and advanced computing technologies.</p>
        </div>
        <div class="resume-item">
          <h4>EXPERT JAVA CERTIFICATE</h4>
          <h5>2013 - 2014</h5>
          <p><em>Atrium Formación, Madrid, Spain</em></p>
          <p>Holder of an EXPERT® JAVA CERTIFICATE with expertise in JAVAEE, STRUTS, XML, SPRING, and AJAX. Proficient in developing advanced Java applications, demonstrating strong skills in implementing solutions using Java technologies.   </p>
        </div>
        <div class="resume-item">
          <h4>Advanced J2EE Development</h4>
          <h5>2014 - 2015</h5>
          <p><em>Atrium Formación, Madrid, Spain</em></p>
          <p>Completed Advanced J2EE Development training encompassing Spring, Hibernate, Groovy-Grails, JSF, Struts 2, and Agile Methodologies. Equipped with skills in designing and implementing sophisticated Java-based solutions using cutting-edge frameworks and agile practices.
          </p>
        </div>

        <div class="resume-item">
          <h4>POSTGRADUATE PROGRAM: UNIVERSITY EXPERT IN ROBOTICS</h4>
          <h5>2015 - 2015</h5>
          <p><em>La Salle, Barcelona Campus</em></p>
          <p>University Expert in Robotics covering Introduction to Robotics, Intelligent Control Systems, Advanced Electronics, Programming Languages/Frameworks (including ROS), Electromagnetic Compatibility, and Robotic Project Management.
          </p>
        </div>
        <div class="resume-item">
          <h4>Advanced Master's Degree - Agile IT Management</h4>
          <h5>2015 - 2015</h5>
          <p><em>Polytechnic University of Catalonia</em></p>
          <p>Advanced Master's Program in Agile IT Management, emphasizing SCRUM, DevOps, and Lean IT.
          </p>
        </div>
        <div class="resume-item">
          <h4>EMPOWERIT - Project Managers</h4>
          <h5>2017 - 2018</h5>
          <p><em>Pompeu Fabra University</em></p>
          <p>Specialized Master for Project Managers focusing on communication, organization, presentation, and negotiation skills.
          </p>
        </div>
        <div class="resume-item">
          <h4>Master's Degree in Robotics</h4>
          <h5>2019 - 2020</h5>
          <p><em> University of Vic - Central University of Catalonia (UVic-UCC) & Catalonia Technological Center EURECAT</em></p>
          <p>Postgraduate Degree in Industrial Robotics and Postgraduate Degree in Mobile Robotics
          </p>
        </div>
      </div>
    </div>

  </div>
</section>