<section [ngClass]="{'section-show': isSectionActive}">
    <div class="about-me container c_custom ">
        <div class="section-title">
            <h2>Registration Page</h2>
            <!-- <p>Pomodoro Time</p> -->
        </div>
        <!-- <app-google-signin (loginWithGoogle)="googleSignin($event)"></app-google-signin> -->


        <div class="d-flex justify-content-center">
            <div class="form-border"> <!-- Clase para aplicar el borde -->
                <div class="title-inside-border">Enter your name and email to register</div>
                <form style="width: 350px; margin-bottom: 0px;" [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="d-flex justify-content-between mb-2 mt-2">
                        <div>
                            <asl-google-signin-button  *ngIf="!oauthUser" type='standard' size='medium' text='signup_with'></asl-google-signin-button>
                        </div>
                        <button  [disabled]="isDisabled()" (click)="clearForm()" class="btn btn-secondary btn-sm ms-2">Clear form</button>
                    </div>
                    
                    <div class="form-floating mb-2">
                        <input [ngClass]="{'red-input': validateForm()}" id="name" type="text" formControlName="name"
                            class="form-control" placeholder="" aria-label="name" aria-describedby="addon-wrapping">
                        <label *ngIf="!validateForm()" class="form-label grey-text" for="floatingInput">Enter your
                            name...</label>
                        <label class="red-text" *ngIf="validateForm()" for="floatingInput">Your Name is Needed</label>
                    </div>
                    <div class="form-floating mb-2">
                        <input [ngClass]="{'red-input': validateForm('email')}" id="email" type="text"
                            formControlName="email" class="form-control" placeholder="" aria-label="email"
                            aria-describedby="addon-wrapping" [readonly]="oauthUser ? true : null">
                        <label *ngIf="!validateForm('email')" class="form-label grey-text" for="floatingInput">Enter
                            your email...</label>
                        <label class="red-text" *ngIf="validateForm('email')" for="floatingInput">Check your Email</label>
                    </div>
                    
                    <div *ngIf="!oauthUser" class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-secondary btn-sm">Proceed and Sign Up</button>
                    </div>

                    <div *ngIf="oauthUser" class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-secondary btn-sm">Proceed and Sign Up with Google</button>
                    </div>
                
                </form>
                
            </div>
        </div>

    </div>
</section>