label {
  width: 100%;
  display: block;
}

span {
  width: 100%;
  color: #000;
  display: block;
  padding: 3px 0 0 0;
}

.butoPlay {
  z-index: 10;
  /* width: auto; */
  margin: 0px !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  padding-right: 0px !important;
  padding-left: 0px !important;
  padding-bottom: 0px !important;
  padding-left: 0px !important;
  border: none;
  background: none;
  transition: background-color 0.3s ease, color 0.3s ease;
  color: #575757d6;
  transition: color 0.3s ease;
}

.butoPlay:hover {
  color: #000000;
  /* Cambio de color al pasar el ratón por encima */
  transition: background-color 0.3s ease, color 0.2s ease;
  /* Transición para el fondo y el color del texto */
}

.butoPlay:active {
  transform: scale(0.95);
  /* Disminuye el tamaño a 98% cuando se presiona */
}

.timePickerBox {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 250px;
  height: 160px;
  padding: 0;
  margin: 0;
  background-color: #d9d9d9;
  border-radius: 5px;
  border:none;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  /* Sombra con desplazamiento a la derecha y abajo, con desenfoque y color semitransparente */
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  /* Sombra con desplazamiento a la derecha y abajo, con desenfoque y color semitransparente */

  border: 2px solid rgba(255, 255, 255, 0);
  /* Borde negro sólido con un grosor de 2px */
  z-index: 100;
  /* top: 50%;  */
  left: 50%;
  /* Centra horizontalmente */
  transform: translate(-50%, 0);
  /* Ajusta el centro exacto del elemento */
}

.input-group .form-control.input-hours,
.input-group .form-control.input-minutes {
  font-size: 35px !important;
  /* Aumenta el tamaño de la fuente y asegura que se aplique */
  height: auto !important;
  /* Permite que el campo de entrada se ajuste al nuevo tamaño del texto */
  padding: 10px !important;
  /* Aumenta el relleno para mayor claridad visual */
}

.closeTimePicker {
  position: absolute;
  right: 0px;
  top: 0px;
  
  border: none;
  background: none;
  font-size: 2em;
  transition: background-color 0.3s ease, color 0.3s ease;
  color: #575757d6;
  
}

.closeTimePicker:hover{
  color: #000000;
  transition: background-color 0.3s ease, color 0.2s ease;
}

.closeTimePicker:active{
  scale: 95%;
}


.textTimer {
  font-size: 1em; /* Tamaño del texto basado en el tamaño base del botón */
}

.sizeplus {
  font-size: 1.5em; /* El icono es más grande que el texto */
}
/* 
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
} */


.label-button {
  position: absolute;
  right: 5px;
  top: 1px;
  bottom: 0;
  /* O height: 100%; según sea necesario */
  border: none;
  /* Ajusta según tu diseño */
}

.formClick {
  cursor: pointer;
}